---
# tasks file for deslicer.splunk.core
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/deslicer)
#
# Release: 1.0.0


- name: Check if a service restart is pending
  ansible.builtin.stat:
    path: "{{ splunk_service_restart_pending | default('/tmp/splunk_service_restart.pending') }}"
  register: stat_splunk_service_restart_pending

- name: If Splunkd was running we have a state file
  ansible.builtin.stat:
    path: "{{ splunk_service_status | default('/var/tmp/splunkd_service_started') }}"
  register: stat_splunkd_service_started

# Important to keep this task in the end as it will exit an outer loop in reboot_handeler.yml
# and all tasks after this will be skipped
- name: Check if a server reboot is pending
  ansible.builtin.stat:
    path: "{{ server_reboot_pending | default('/tmp/server_reboot.pending') }}"
  register: stat_server_reboot_pending
